{% extends 'administrator/base.html' %}
{% load static %}

{% block content %}

<div class="container text-center">
  <img src="{% static 'images/Marqeta_logo.png' %}" alt="Marqeta" style="max-width: 100%; height: auto; padding-top:50px;" width="320" height="47" />
  
  <br><h2>Admin Panel</h2>
  <hr><br>
  <div class="form-group row">
     <div class="col-xs-4 col-xs-offset-4">
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'administrator:listUsers' %}">Users</a><br>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'administrator:listCards' %}">Cards</a><br>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'administrator:listCardProducts' %}">Card Products</a><br><br>
        <a class="btn btn-danger" href="/">Back</a>
     </div>
  </div>
</div>

{% endblock content %}