{% extends 'administrator/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h2>All Card Products</h2>
  <br>
  <a class="btn btn-primary" href="{% url 'administrator:createCardProduct' %}">Create Card Product</a>
  <br><br>
  {% if isSuccess %}
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Card Product Token</th>
        <th>Name</th>
        <th>Start Date and Time</th>
      </tr>
    </thead>
    <tbody>
      {% for cardProduct in cardProducts %}
      <tr>
        <td class="col-md-4">{{ cardProduct.token }}</td>
        <td class="col-md-4">{{ cardProduct.name }}</td>
        <td class="col-md-4">{{ cardProduct.start_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No card found.</p>
  {% endif %}
  <br>
  <a class="btn btn-danger" href="/administrator/">Back</a>
</div>

{% endblock content %}