<!DOCTYPE html>
<html lang="en">
<head>
  <title>Marqeta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Marqeta</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/listUsers">Users</a></li>
        <li><a href="/listCardProducts">Card Products</a></li>
        <li class="active"><a href="/listCards">Cards</a></li>
      </ul>
    </div>
  </nav>
<div class="container">
  <h2>Create Card</h2>
  <br>
  <p>Fill the form below to create a Marqeta user.</p>
  <br>
  <form method="POST">
    {% csrf_token%}
  <div class="form-group row">
     <div class="col-xs-3">
       <label for="rate">Rate</label>
       <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
         <input id="rate" type="number" class="form-control" name="rate" placeholder="Rate" required>
       </div>
       <span class="help-block">Enter rate</span>
     </div>
   <div class="col-xs-3">
     <label for="quantity">Quantity</label>
     <div class="input-group">
       <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
       <input id="quantity" type="number" class="form-control" name="quantity" placeholder="Quantity" required>
     </div>
     <span class="help-block">Enter quantity</span>
   </div>
   <div class="col-xs-3">
    <label for="origin">Card</label>
    <div class="input-group">
       <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
       <select name="origin" id="origin" class="form-control">
       {% for card in cards %}
       <option value={{ card.token }}>{{ card.last_four }}</option>
       {% endfor %}
       </select>
    </div>
    <span class="help-block">Select card</span>
  </div>
  </div>
   <button type="submit" class="btn btn-success">Pay</button><br><br>
   <a class="btn btn-primary" href="/listCards">All Cards</a>
  </form>
</div>
</body>
</html>