{% extends 'administrator/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h2>Create Card</h2>
  <br>
  <p>Fill the form below to create a Marqeta card.</p>
  <br>
  {% if isSuccess %}
  <div class="alert alert-success alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
  </div>
  {% elif isSuccess is not None %}
  <div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
  </div>
  {% endif %}
  <form method="POST">
    {% csrf_token%}
  <div class="form-group row">
     <div class="col-xs-3">
       <label for="cardToken">Card Token</label>
       <input id="cardToken" type="text" class="form-control" name="cardToken" placeholder="Card Token" required>
       <span class="help-block">Enter card token</span>
     </div>
     <div class="col-xs-3">
      <label for="userToken">User Token</label>
      <select class="form-control" id="userToken" name="userToken" required>
        <option value="" selected disabled>Please Select</option>
          {% for key, value in userTokens.items %}
          <option value={{ value }}>{{ key }}</option>
          {% endfor %}
        </select>
      <span class="help-block">Select user token</span>
    </div>

    <div class="col-xs-3">
      <label for="cardProductToken">Card Product Token</label>
      <select class="form-control" id="cardProductToken" name="cardProductToken" required>
        <option value="" selected disabled>Please Select</option>
        {% for key, value in cardProductTokens.items %}
          <option value={{ value }}>{{ key }}</option>
        {% endfor %}
        </select>
        <span class="help-block">Select card product token</span>
    </div>
   </div>
   <div class="form-group row">
    <div class="col-xs-3">
      <label for="showCVV">Show CVV Number</label>
      <select class="form-control" id="showCVV" name="showCVV" required>
        <option value="" selected disabled>Please Select</option>
        <option value="True">Yes</option>
       <option value="False">No</option>
        </select>
      <span class="help-block">Show CVV number</span>
    </div>
    <div class="col-xs-3">
     <label for="showPAN">Show PAN</label>
     <select class="form-control" id="showPAN" name="showPAN" required>
       <option value="" selected disabled>Please Select</option>
       <option value="True">Yes</option>
       <option value="False">No</option>
       </select>
     <span class="help-block">Show PAN</span>
   </div>
   </div>
   <div class="form-group row">
   <div class="col-xs-3">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control" name="name" placeholder="Name" required>
    <span class="help-block">Enter name on the card</span>
  </div>
    <div class="col-xs-3">
      <label for="address">Address</label>
      <input id="address" type="text" class="form-control" name="address" placeholder="Address" required>
      <span class="help-block">Enter address</span>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-3">
      <label for="city">City</label>
      <input id="city" type="text" class="form-control" name="city" placeholder="City" required>
      <span class="help-block">Enter city</span>
    </div>
    <div class="col-xs-3">
     <label for="state">State</label>
     <input id="state" type="text" class="form-control" name="state" placeholder="State" required>
     <span class="help-block">Enter state</span>
   </div>
     <div class="col-xs-3">
       <label for="postalCode">Postal Code</label>
       <input id="postalCode" type="text" class="form-control" name="postalCode" placeholder="Postal Code" required>
       <span class="help-block">Enter postal code</span>
     </div>
     
   </div>
  <button type="submit" class="btn btn-primary">Create</button><br><br>
  <a class="btn btn-danger" href="/listCards">Back</a>
</form>
</div>

{% endblock content %}
