{% extends 'administrator/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h2>All Cards</h2>
  <br>
  <a class="btn btn-primary" href="{% url 'administrator:createCard' %}">Create Card</a>
  <br><br>
  {% if isSuccess %}
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Card Product Token</th>
        <th>Card Token</th>
        <th>Last Four Digits</th>
        <th>Expiry Date and Time</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {% for card in cards %}
      <tr>
        <td class="col-md-3">{{ card.card_product_token }}</td>
        <td class="col-md-3">{{ card.token }}</td>
        <td class="col-md-2">{{ card.last_four }}</td>
        <td class="col-md-2">{{ card.expiration_time }}</td>
        <td class="col-md-2">{{ card.state }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No cards found.</p>
  {% endif %}
  <br>
  <a class="btn btn-danger" href="/administrator/">Back</a>
</div>

{% endblock content %}