{% extends 'administrator/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h2>All Users</h2>
  <br>
  <a class="btn btn-primary" href="{% url 'administrator:createUser' %}">Create User</a>
  <br><br>
  {% if isSuccess %}
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User Token</th>
        <th>Full Name</th>
        <th>Creation Date and Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td class="col-md-4">{{ user.token }}</td>
        <td class="col-md-3">{{ user.first_name }} {{ user.last_name }}</td>
        <td class="col-md-3">{{ user.created_time }}</td>
        <td class="col-md-2">{{ user.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No users found.</p>
  {% endif %}
  <br>
  <a class="btn btn-danger" href="/administrator/">Back</a>
</div>

{% endblock content %}